:root {
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');

body{
    background-color: rgb(255, 255, 255);
    margin: 5em;
}

img {
    padding: 5px;
}

header,footer {
    background-color: white; 
    color: rgb(204, 142, 172);
    text-align: center;
    text-transform: uppercase;
}

ul {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    font-size: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content:center;
    padding-left: 0;
    text-decoration: none;
    gap: 10px;
    color: rgb(85, 70, 75);

}

nav a {
    border-radius: 8px;
    color: rgb(195, 81, 146);
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(255, 236, 244);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Gabarito", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}

h2, h3 { 
    color: rgb(170, 49, 104);
}

#intro {
    background: rgb(254, 232, 236);
    padding: 20px;
    margin: 0;
    border: 8px;
    text-align: justify;
}

footer {
    padding: 20px;
}

#list {
    padding: 20px;
    text-align: justify;
    border: 3px solid rgb(231, 228, 228);
}

#email {
    text-align: center;
}

#schoolemail {
    background: rgb(254, 232, 236);
    padding: 10px;
    text-align: center;
}

#about {
    background: rgb(254, 232, 236);
    padding: 20px;
}